extends layout

block content
    .row
        .col-md-12
            h3.text T&uuml;m &Uuml;r&uuml;nler
            hr.line
            br
    .row
        .col-12.mb-3
            h4.text Filtrele
            .form-check.text
                input#defaultCheck1.form-check-input(type='checkbox' value='')
                label.form-check-label(for='defaultCheck1') Paket &Ccedil;aylar - 500 gr
            .form-check.text
                input#defaultCheck2.form-check-input(type='checkbox' value='')
                label.form-check-label(for='defaultCheck2') Paket &Ccedil;aylar - 1000 gr
            .form-check.text
                input#defaultCheck3.form-check-input(type='checkbox' value='')
                label.form-check-label(for='defaultCheck3') D&ouml;kme &Ccedil;aylar - 5000 gr
            .form-check.text
                input#defaultCheck4.form-check-input(type='checkbox' value='')
                label.form-check-label(for='defaultCheck4') Demlik Po&scedil;et &Ccedil;aylar - 5000 gr
            .form-check.text
                input#defaultCheck5.form-check-input(type='checkbox' value='')
                label.form-check-label(for='defaultCheck5') Di&gbreve;er &Uuml;r&uuml;nlerimiz
        .col-lg-3.col-md-4.text-center
            a(href='')
                p.myBtn
                    | Uygula 
                    i.fa.fa-check.ml-1(aria-hidden='true')
    .row.mt-5
        .col-md-4
            .card.shadow.mb-2
                img.card-img-top(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg' alt='Card image cap')
                .card-body
                    h4.card-title &Ccedil;ay
                    .row
                        .col-lg-4.col-12
                            h5.price 23.75 &#x20BA;
                        .col-lg-2
                        .col-lg-6.col-12.text-center
                            a(href='')
                            p.myBtn
                                | Sepete Ekle 
                                i.fa.fa-shopping-cart(aria-hidden='true')
        .col-md-4
            .card.shadow.mb-2
                img.card-img-top(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg' alt='Card image cap')
                .card-body
                    h4.card-title &Ccedil;ay
                    .row
                        .col-lg-4.col-12
                            h5.price 23.75 &#x20BA;
                        .col-lg-2
                        .col-lg-6.col-12.text-center
                            a(href='')
                            p.myBtn
                                | Sepete Ekle 
                                i.fa.fa-shopping-cart(aria-hidden='true')
       .col-md-4
            .card.shadow.mb-2
                img.card-img-top(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg' alt='Card image cap')
                .card-body
                    h4.card-title &Ccedil;ay
                    .row
                        .col-lg-4.col-12
                            h5.price 23.75 &#x20BA;
                        .col-lg-2
                        .col-lg-6.col-12.text-center
                            a(href='')
                            p.myBtn
                                | Sepete Ekle 
                                i.fa.fa-shopping-cart(aria-hidden='true')
    
    
    
    .row.my-3
        .col-md-4
            .card.shadow.mb-2
                img.card-img-top(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg' alt='Card image cap')
                .card-body
                    h4.card-title &Ccedil;ay
                    .row
                        .col-lg-4.col-12
                            h5.price 23.75 &#x20BA;
                        .col-lg-2
                        .col-lg-6.col-12.text-center
                            a(href='')
                            p.myBtn
                                | Sepete Ekle 
                                i.fa.fa-shopping-cart(aria-hidden='true')

        .col-md-4
            .card.shadow.mb-2
                img.card-img-top(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg' alt='Card image cap')
                .card-body
                    h4.card-title &Ccedil;ay
                    .row
                        .col-lg-4.col-12
                            h5.price 23.75 &#x20BA;
                        .col-lg-2
                        .col-lg-6.col-12.text-center
                            a(href='')
                            p.myBtn
                                | Sepete Ekle 
                                i.fa.fa-shopping-cart(aria-hidden='true')

        .col-md-4
            .card.shadow.mb-2
                img.card-img-top(src='https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg' alt='Card image cap')
                .card-body
                    h4.card-title &Ccedil;ay
                    .row
                        .col-lg-4.col-12
                            h5.price 23.75 &#x20BA;
                        .col-lg-2
                        .col-lg-6.col-12.text-center
                            a(href='')
                            p.myBtn
                                | Sepete Ekle 
                                i.fa.fa-shopping-cart(aria-hidden='true')                                                
