extends layout

block content
    .row
        .col-md-12
            h2#about Kargo ve Teslimat
            hr.line
            br
    .row
    .col-md-12
        p.text
            |Siparişiniz, Yurtiçi Kargo ya da Aras Kargo firması tarafından 250 TL ve üzeri alışverişlerde ücretsiz olarak teslim edilecektir.
            |Siparişiniz kargo firması tarafından size teslim edilene kadar www.trabzondogalpazar.com sorumluluğu ve güvencesi altındadır.
            |Satın aldığınız ürün, sipariş sırasında belirttiğiniz tercihleriniz doğrultusunda size özel olarak hazırlanır.  Aldığınız ürünler 
            |özenle paketlenir. Ürün fatura ve irsaliye belgesi, ürün bilgilendirme notuyla birlikte özel ambalajında belirttiğiniz adrese güvenli olarak teslim edilir.
        p.text
            |Dilerseniz teslimat ve fatura adreslerini farklı vererek, faturanızın kendinize, hediyenizin sevdiklerinize ulaşmasını sağlayabilirsiniz.
            |Siparişinizin kargo firmasına kaç gün içinde teslim edileceği, satın aldığınız ürüne ait detay sayfasında belirtilmektedir. 
            |Hazırlanan siparişler, kargo firmasına Cumartesi, Pazar, resmi tatil ve bayram günleri dışında teslim edilmektedir.
            |Kargo firması Pazar, resmi tatil ve bayram günleri dışında teslimat yapmaktadır.
            |Siparişiniz kargo firmasına teslim edildiğinde e-posta ile bilgilendirilirsiniz.
        p.text
            |Gelen paket hasarlı olduğunu düşündüğünüz durumda, kargo yetkilisine tutanak tutturmanız tavsiye edilir. www.trabzondogalpazar.com sipariş yetkilisine iletişim formu'nu kullanarak durumu bildiriniz.
        
        p.text
            |Detaylı bilgi için iptal ve iade koşullarımızı inceleyebilirsiniz.
            br
            br
            |Bu konulardaki her türlü soru ve sorununuz için iletişim formu'nu kullanarak veya 0543 611 61 01 telefon numarası üzerinden bizimle iletişim kurabilirsiniz.
