extends layout

block content
    .row
        .col-md-7
            img.img-fluid.urun(src='/img/beyazcay.jpg' alt='')
        .col-md-5
            h3 Beyaz &Ccedil;ay | 50g
            br
            h5 AMBALAJ EBATI : 8,14 x 14 cm
            br
            h5 BARKOD NUMARASI : 8682780725598
            br
            h5.many.mb-3 Sipari&scedil; Adedi : 
            .number-input
                button(onclick="this.parentNode.querySelector('input[type=number]').stepDown()") 
                input.quantity(min='1' name='quantity' value='1' type='number')
                button.plus(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
            .row.mt-4
                .col-6
                    h5.price 23.75 &#x20BA;
                .col-6
                    a(href='')
                        p.myBtn
                            | Sepete Ekle 
                            i.fa.fa-shopping-cart(aria-hidden='true')
