extends ../layout

block content
    .row
        .col-md-12
            h2#about İptal ve İade
            hr.line
            br
    .row
    .col-md-12
        p.text
            |TTK’ya göre, gıda maddeleri, içecekler veya diğer günlük tüketim maddeleri için cayma hakkı bulunmamaktadır. Biz çalışma prensibimiz gereği, eğer ürününüz henüz sevkiyata çıkmadı ise iptal işlemlerinizi gerçekleştiriyoruz.
        h5.text İade Şartları ve İade Talebi
        p.text
            | Satın aldığınız ürünlerle ilgili bir şikayetiniz olduğunda, kargodan teslim aldığınız günden itibaren 7 gün içinde www.ravzacay.com’a başvuruda bulunarak aşağıdaki koşullar dahilinde iade edebilirsiniz. Bu kapsamda iade etmek istediğiniz ürünü geri gönderirken herhangi bir Kargo Bedeli ödemezsiniz, Yurtiçi Kargo ya da Aras Kargo’ya Karşı Ödemeli olarak teslim etmeniz yeterlidir. İade edeceğiniz ürüne ait, hediye olarak verilen promosyonlu, kampanyalı ürünlerin de aynı anda iade edilmesi gerekmektedir. İade kapsamındaki koşullar aşağıdaki gibidir:
        p.text
            |Gelen paket hasarlı olduğunu düşündüğünüz durumda, kargo yetkilisine tutanak tutturmanız tavsiye edilir. www.trabzondogalpazar.com sipariş yetkilisine iletişim formu'nu kullanarak durumu bildiriniz.

        p.text
            |Kargoda ambalajı bozulmuş
            br
            |Son kullanma tarihi geçmiş ürünleri iade edebilirsiniz.
        p.text
            |İade etmek istediğiniz ürün karşılığında ister ürün bedeli kadar para iadesi, isterseniz de yeni ürün gönderimi yapılacaktır. Lütfen iade işlemi için, ürünü www.trabzondogalpazar.com’a göndermeden önce info@trabzondogalpazar.com’a , iade nedeniniz ile iade etmek istediğiniz ürün bilgisini, eğer ürün kırılmış / bozulmuş ise ürün görseli ile birlikte mail olarak gönderiniz. Kargoyu teslim alırken kargodan kaynaklı ürünün kırılması halinde kargo yetkilisine tutanak hazırlatıp iadenizi gerçekleştirebilirsiniz.
            br
            br
            |Ürünler mutlak suretle orjinal kutu/ambalajı ve faturası ile birlikte, kırılma tehlikesi olan ürünler için pat pat poşet ile sarılarak iadesi yapılmalıdır. Hediye verilen promosyonlu, kampanyalı ürünler de orjinal paketleri ile birlikte gönderilmelidir. Müşteri hizmetleri temsilcilerimizle görüşmek için iletişim sayfamızdan bize ulaşabilirsiniz.

        p.text
            span
                b Ürün İade Adresi:
            br
            |HDO Ticaret - Emre TOPAL
            br
            |Nefsipulathane Mahallesi Atatürk Bulvarı Sebat İş Hanı No:63/105 Akçaabat/TRABZON
